<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="3600" status="WARN">
    <properties>
        <property name="pattern">
            %d{dd-MM HH:mm} %-5level %logger{3} - %msg%n
        </property>
    </properties>
    <appenders>
        <RollingFile name="roll-by-time" fileName="C:\Users\Администратор.000\IdeaProjects\Contacts_Patrusova\view\src\main\webapp\WEB-INF\log\started.log"
                     filePattern="C:\Users\Администратор.000\IdeaProjects\Contacts_Patrusova\view\src\main\webapp\WEB-INF\log\started.%d{MM-dd-yyyy-HH-mm}.log"
                     ignoreExceptions="false"
                     append="true">
            <patternLayout pattern="${pattern}"/>
            <Policies>
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingFile>
        <console name="Console" target="SYSTEM_OUT">
            <patternLayout pattern="${pattern}"/>
        </console>
    </appenders>
    <loggers>
        <logger name= "com.itechart.contacts.domain" additivity="true"/>
        <root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="roll-by-time" />
        </root>
    </loggers>
</configuration>