/*общие настройки
----------------------------*/
.header, .footer {
    background-color: grey;
    color: white;
    padding: 30px;
}

.footer {
    text-align: right;
}

.buttonLink {
    text-decoration: none;
}

.buttonLink:hover, .buttonLink:visited {
    color: #33b5e5;
}

.visitedLink {
    color: white;
}

.pageButton {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #31c3ff;
    color: white;
    margin: 5px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
}

.pageButton:hover {
    background-color: #0099cc;
}

.field {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* главная страница
-------------------------------
 */

.column {
    float: left;
    padding: 15px;
}

.mainPage {
    display: flex;
    min-width: 800px;
}

.menu {
    width: 25%;
    min-width: 240px;
}

.content {
    width: 75%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #33b5e5;
    color: #ffffff;
    border-radius: 10px;
}

.menu li p {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left: 10px;
}

.menu li:hover {
    background-color: #0099cc;
}

/*отрисовка таблицы контактов
----------------------------*/

#contactsList {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#contactsList td, #contactsList th {
    border: 1px solid #ddd;
    padding: 8px;
}

#contactsList tr:nth-child(even){background-color: #f2f2f2;}

#contactsList tr:hover {background-color: #ddd;}

#contactsList tr:first-child {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #31c3ff;
    color: white;
}

/* пагинация таблицы
---------------------------
 */

#pagination {
    display: flex;
    padding: 0;
    list-style-type: none;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#pagination li {
    margin-right: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#pagination li:hover, #pagination li.active {
    cursor: pointer;
    background-color: #31c3ff;
    color: white;
    border-radius: 5px;
}

/* popup delete main
------------------------------
 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContent {
    background-color: #0099cc;
    color: white;
    font-size: 15px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    min-width: 300px;
}

.closeX {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeX:hover, .closeX:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*страницы почты и поиска
----------------------------------
*/

#messageField {
    height: 150px;
}

#mailImage {
    max-height: 500px;
}

#searchImage {
    max-height: 500px;
    max-width: 650px;
}
#genderField, #birthdayField{
    margin-bottom: 15px;
    margin-top: 15px;
}

.pageContainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

.pageColumn {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.pagePanel:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .pageColumn, .pageButton {
        width: 100%;
        margin-top: 0;
    }
}

.pageLabel {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0099cc;
    color: white;
}

.pageLabel label {
    padding-left: 20px;
}

/*popup
------------------------------*/

#cancel {
    color: #0c4f5b;
    font-family: 'Segoe Print', 'Tahoma', sans-serif;
    width: 300px;
    font-size: 18px;
    height: 40px;
    float: right;
    padding-right: 5px;
    padding-top: 5px;
    margin-right: 10px;
}

.popup{
    display: none;
    text-align: center;
    width:250px;
    height:100px;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    align-items: center;
    align-content: center;
    justify-content: center;
    top:0;
}